/* Import LINKS [START] */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");
/* Import LINKS [END] */

/* Typography [START] */
* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

h1 {
  font-size: 36px;
}

p {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

li {
  text-decoration: none;
  list-style: none;
}

.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.text--purple {
  color: #4696d9;
}

.section__title {
  margin-bottom: 20px;
}

/* Typography [END] */

/* Navigation [1] */

.header {
  width: 100%;
  background: rgb(31, 201, 246);
  background: linear-gradient(
    90deg,
    rgba(31, 201, 246, 1) 30%,
    rgba(13, 126, 222, 1) 43%,
    rgba(15, 196, 164, 1) 100%
  );
  overflow: hidden;
}
.navigation {
  height: 75px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  margin: 0 12px;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

.nav__link--anchor-primary {
  background-color: #5d3eff;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
  transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
  background-color: #25176d;
}

.personal__logo {
  font-size: 24px;
  color: #000000;
  margin: 0 12px;
  font-weight: bold;
}

/* About me [2] */
#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-me__info {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.about-me__info--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.about-me__picture--frame {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  margin-bottom: 26px;
}

.about-me__picture {
  width: 100%;
  /* Improving my own picture */
  transform: scale(1.1);
  padding-top: 8px;
}

.about-me__info--title {
  margin-bottom: 16px;
}

.about-me__info--para {
  font-size: 20px;
  margin-bottom: 28px;
}

.about-me__link {
  font-size: 25px;
  color: #242424;
  text-decoration: none;
  padding: 0 16px;
}

.fa-linkedin {
  color: #0a66c2;
}

.fa-envelope {
  color: rgb(39, 28, 218);
}

.fa-file-pdf {
  color: red;
}

.fa-github {
  transition: all 200ms ease;
}

.fa-github:hover {
  color: #2d333b;
}
.about-me_img--container {
  display: flex;
  justify-content: center;
}

.about-me__img {
  width: 60%;
  margin-right: 5rem;
}

/* TECH STACK [START] */
.container {
  padding: 50px;
}

#languages {
  background-color: #f1eeee;
}

.language__img {
  width: 100%;
  max-width: 100px;
  transition: all 300ms ease;
}

.language {
  width: 30%;
  display: flex;
  justify-content: center;
  position: relative;
}

.language:hover .language__img {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
}

.language__img--wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}

.language__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms;
  font-size: 20px;
  opacity: 0;
}

.language:hover .language__name {
  transform: scale(1);
  opacity: 1;
}

/* TECH STACK [END] */
